.body {
  width: 100%;
  height: auto;
}
.mainDiv {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  top: 110px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  height: 35px;
  border: 2px solid gray;
  font-weight: 550;
  padding: 5px;
  margin-bottom: 20px;
}
input[type="radio"] {
  margin-bottom: 20px;
  margin-top: 10px;
}
.two {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 30px;
}

.submit {
  width: 250px;
  margin: auto;
  padding: 20px;
}
input[type="submit"] {
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: #4004e7;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
}
textarea {
  border: 2px solid gray;
  padding: 5px;
  width: 100%;
}
.location {
  display: flex;
  justify-content: space-between;
}
