.maindiv {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.btn {
  width: 350px;
  height: 45px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn_image {
  margin: 8px;
  width: 25px;
  height: 25px;
}
.btn_p {
  font-weight: 550;
}
.quote {
  font-size: 50px;
  font-weight: 650;
}
.span1 {
  color: #33b91a;
}
.span2 {
  color: #117dec;
}
